*{
    font-family: sans-serif;
}
.wrapper{
    justify-content: space-between;
    margin-top: 20px;
}
ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.link-button{
    border: 1px solid #fff;
    background-color: #0275d8;
    padding: 10px 15px;
    margin-bottom: 14px;
    color: white;
    border-radius: 20px;
}
.img-hero{
    margin-left: 35px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
.burger{
    display: none;
    margin-top: 10px;
    margin-right: 20px;
}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .burger{
        display: block;
    }
}